In [53]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
%matplotlib inline
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow import keras
from keras import layers

In [54]:
train=pd.read_csv('train.csv')
train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [55]:
test=pd.read_csv('test.csv')
test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [56]:
from house_prices import feat_eng

In [57]:
train, test=feat_eng(train), feat_eng(test)

In [58]:
int_cat_f=['SaleCondition','TotRmsAbvGrd','ExterQual','Exterior1st','Neighborhood','KitchenQual','SaleType','PoolQC']
int_num_f=['OverallQual','LotArea','BsmtFinSF1','TotalBsmtSF','GrLivArea','GarageArea']
int_ord_f=['GarageCars']

In [59]:
train=train[int_cat_f+int_num_f+int_ord_f+['SalePrice']]
count=train.isna().sum()
count=pd.DataFrame(count)
count[count[0]!=0]

Empty DataFrame
Columns: [0]
Index: []

https://www.tensorflow.org/guide/keras/preprocessing_layers

In [60]:
def df_to_dataset(dataframe, shuffle=True, batch_size=10):
  df = dataframe.copy()
  labels = df.pop('SalePrice')
  df = {key: value[:,tf.newaxis] for key, value in dataframe.items()}
  ds = tf.data.Dataset.from_tensor_slices((dict(df), labels))
  if shuffle:
    ds = ds.shuffle(buffer_size=len(dataframe))
  ds = ds.batch(batch_size)
  ds = ds.prefetch(batch_size)
  return ds

In [61]:
train, val, test = np.split(train.sample(frac=1), [int(0.8*len(train)), int(0.9*len(train))])

In [62]:
train

,SaleCondition,TotRmsAbvGrd,ExterQual,Exterior1st,Neighborhood,KitchenQual,SaleType,PoolQC,OverallQual,LotArea,BsmtFinSF1,TotalBsmtSF,GrLivArea,GarageArea,GarageCars,SalePrice
45,Normal,6,Ex,MetalSd,NridgHt,Ex,WD,NoPool,9,7658,456,1752,1752,576,2,319900
67,Normal,7,Gd,VinylSd,CollgCr,Gd,WD,NoPool,7,10665,1013,1453,1479,558,2,226000
1103,Normal,6,TA,BrkFace,NAmes,TA,WD,NoPool,6,8910,655,655,1194,539,2,159500
284,Normal,5,Gd,Plywood,SawyerW,Gd,WD,NoPool,6,8012,430,1575,1575,529,2,179200
1070,Normal,6,TA,MetalSd,NAmes,TA,WD,NoPool,5,10152,586,1048,1048,286,1,135000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,Normal,5,TA,MetalSd,Sawyer,TA,WD,NoPool,5,9819,450,882,900,280,1,122000
340,Normal,9,Gd,VinylSd,Timber,Gd,WD,NoPool,8,14191,0,967,1908,431,2,202900
831,Normal,4,TA,MetalSd,Somerst,Gd,WD,NoPool,7,3180,0,600,1200,480,2,151000
688,Partial,7,Gd,MetalSd,StoneBr,Gd,New,NoPool,8,8089,945,1419,1419,567,2,392000
547,Normal,5,TA,VinylSd,Mitchel,TA,WD,NoPool,5,7244,619,768,768,624,2,129500

In [63]:
train_ds=df_to_dataset(train)

C:\Users\Alessandro\AppData\Local\Temp\ipykernel_5800\2050168267.py:4: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  df = {key: value[:,tf.newaxis] for key, value in dataframe.items()}

In [66]:
#tf.cast(train_ds, tf.int32)

ValueError: Attempt to convert a value (<PrefetchDataset element_spec=({'SaleCondition': TensorSpec(shape=(None, 1), dtype=tf.string, name=None), 'TotRmsAbvGrd': TensorSpec(shape=(None, 1), dtype=tf.int64, name=None), 'ExterQual': TensorSpec(shape=(None, 1), dtype=tf.string, name=None), 'Exterior1st': TensorSpec(shape=(None, 1), dtype=tf.string, name=None), 'Neighborhood': TensorSpec(shape=(None, 1), dtype=tf.string, name=None), 'KitchenQual': TensorSpec(shape=(None, 1), dtype=tf.string, name=None), 'SaleType': TensorSpec(shape=(None, 1), dtype=tf.string, name=None), 'PoolQC': TensorSpec(shape=(None, 1), dtype=tf.string, name=None), 'OverallQual': TensorSpec(shape=(None, 1), dtype=tf.int64, name=None), 'LotArea': TensorSpec(shape=(None, 1), dtype=tf.int64, name=None), 'BsmtFinSF1': TensorSpec(shape=(None, 1), dtype=tf.int64, name=None), 'TotalBsmtSF': TensorSpec(shape=(None, 1), dtype=tf.int64, name=None), 'GrLivArea': TensorSpec(shape=(None, 1), dtype=tf.int64, name=None), 'GarageArea': TensorSpec(shape=(None, 1), dtype=tf.int64, name=None), 'GarageCars': TensorSpec(shape=(None, 1), dtype=tf.int64, name=None), 'SalePrice': TensorSpec(shape=(None, 1), dtype=tf.int64, name=None)}, TensorSpec(shape=(None,), dtype=tf.int64, name=None))>) with an unsupported type (<class 'tensorflow.python.data.ops.dataset_ops.PrefetchDataset'>) to a Tensor.

In [65]:
[(train_features, label_batch)] = train_ds.take(1)
print('Every feature:', list(train_features.keys()))
print('A batch of ages:', train_features['BsmtFinSF1'])
print('A batch of targets:', label_batch )

Every feature: ['SaleCondition', 'TotRmsAbvGrd', 'ExterQual', 'Exterior1st', 'Neighborhood', 'KitchenQual', 'SaleType', 'PoolQC', 'OverallQual', 'LotArea', 'BsmtFinSF1', 'TotalBsmtSF', 'GrLivArea', 'GarageArea', 'GarageCars', 'SalePrice']
A batch of ages: tf.Tensor(
[[1721]
 [ 885]
 [ 639]
 [ 594]
 [   0]
 [ 828]
 [ 150]
 [   0]
 [ 998]
 [1124]], shape=(10, 1), dtype=int64)
A batch of targets: tf.Tensor([423000 170000 215000 131400  82000 192000  75500  82000 345000 284000], shape=(10,), dtype=int64)